/* intestazione */
header {
    background-image: url(../img/pattern.png);
    background-color:#0099ff;
    height: 150px;
    background-size: 700px;
}
#logo {
    height: 50px;
    margin-top: 80px;
    margin-left: 20px;
}

/* body */

.graytext {
    color: gray;
}

.bluetext {
    color: aqua;
}

.head {
    background-color: aqua;
}

.blueline {
    background-color: rgb(26, 201, 143);
}

.evidenziato {
    background-color: yellow;
}